<!-- Error Template -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="event.preventDefault();" class="linkNav" href="/home"><i
                                    class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Erreur</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area Start ##### -->
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>{{title}}</h4>
                        <div class="line"></div>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        {{message}}.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->