<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="event.preventDefault();router.navigateTo('/home')"
                                href="#"><i class="fa fa-home" aria-hidden="true"></i>
                                Accueil</a></li>
                        <li class="breadcrumb-item"><a
                                onclick="event.preventDefault();router.navigateTo('{{linkToFilms}}')"
                                href="#">{{linkName}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{filmDetail.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Pager Area Start ##### -->
<div class="vizew-pager-area">
    {{#if filmPrev}}
    <div class="vizew-pager-prev">
        <p>Précédent</p>

        <!-- Single Feature Post -->

        {{#if_eq filmPrev.images_large_path equals="0"}}
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(http://thymovie.com/image/med/{{@root.folderImg}}/{{filmPrev.idcine}}/{{filmPrev.images_path}});">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-success">{{filmPrev.film_type_name}}</a>
                <a href="#"
                    onclick="event.preventDefault();router.navigateTo('/films/{{filmPrev.id}}/{{convertUrl filmPrev.title}}')"
                    class="post-title">{{filmPrev.title}}</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{filmPrev.note_by_thymovie}}</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(http://thymovie.com/image/large/{{@root.folderImg}}/{{filmPrev.idcine}}/{{filmPrev.images_large_path}});">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-success">{{filmPrev.film_type_name}}</a>
                <a onclick="event.preventDefault();router.navigateTo('/films/{{filmPrev.id}}/{{convertUrl filmPrev.title}}')"
                    href="#" class="post-title">{{filmPrev.title}}</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{filmPrev.note_by_thymovie}}</a>
                </div>
            </div>
        </div>
        {{/if_eq}}



    </div>
    {{/if}}
    {{#if filmNext}}
    <div class="vizew-pager-next">
        <p>Suivant</p>
        {{#if_eq filmNext.images_large_path equals="0"}}
        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(http://thymovie.com/image/med/{{@root.folderImg}}/{{filmNext.idcine}}/{{filmNext.images_path}});">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-business">{{filmNext.film_type_name}}</a>
                <a onclick="event.preventDefault();router.navigateTo('/films/{{filmNext.id}}/{{convertUrl filmNext.title}}')"
                    href="#" class="post-title">{{filmNext.title}}</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{filmNext.note_by_thymovie}}</a>
                </div>
            </div>
        </div>
        {{else}}
        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article"
            style="background-image: url(http://thymovie.com/image/large/{{@root.folderImg}}/{{filmNext.idcine}}/{{filmNext.images_large_path}});">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-cata cata-sm cata-business">{{filmNext.film_type_name}}</a>
                <a href="#"
                    onclick="event.preventDefault();router.navigateTo('/films/{{filmNext.id}}/{{convertUrl filmNext.title}}')"
                    class="post-title">{{filmNext.title}}</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{filmNext.note_by_thymovie}}</a>
                </div>
            </div>
        </div>

        {{/if_eq}}
    </div>
    {{/if}}
</div>
<!-- ##### Pager Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        {{#if filmDetail.film_videos}}
        <div class="row">
            <div class="col-12">
                <div class="single-video-area">
                    {{#if filmDetail.film_videos.0.vid_high}}

                    <div class="embed-responsive embed-responsive-16by9">
                        <video width="320" height="240" controls autoplay loop>
                            <source
                                src="http://thymovie.com/videos/thymovies-vid/{{filmDetail.idcine}}/high/{{filmDetail.film_videos.0.vid_high}}"
                                type="video/mp4">
                        </video>
                    </div>
                    {{else}}
                    <div class="embed-responsive embed-responsive-16by9">
                        <video width="320" height="240" controls autoplay loop>
                            <source
                                src="http://thymovie.com/videos/thymovies-vid/{{filmDetail.idcine}}/medium/{{filmDetail.film_videos.0.vid_med}}"
                                type="video/mp4">
                        </video>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content d-flex">
                    <!-- Post Share Info -->
                    {{#if filmDetail.country}}
                    <div class="post-share-info">
                        {{#each filmDetail.country}}
                        {{!-- <a href="#" class="twitter" title="{{name}}">{{limitStr name 2}}</a> --}}
                        {{#if code}}
                        <a href="#" class="twitter flag-wrapper" title="{{name}}">
                            <i class="img-thumbnail flag flag-icon-background flag-icon-{{code}}"></i>
                        </a>
                        {{/if}}
                        {{!-- <div class="img-thumbnail flag flag-icon-background flag-icon-sv" title="sv" id="sv"></div> --}}

                        {{/each}}
                    </div>
                    {{/if}}
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            {{#each filmDetail.genre}}
                            <a href="#" class="post-cata cata-sm cata-danger">{{name}}</a>
                            {{/each}}

                            <a href="#" class="post-title mb-2">{{filmDetail.title}}</a>

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    {{#if filmDetail.original_title}}
                                    <a href="#">Titre original:</a><a href="#" class="post-author">
                                        {{filmDetail.original_title}}</a>
                                    {{/if}}
                                    {{#if filmDetail.year_production}}
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#">Année de production:</a><a href="#" class="post-date">
                                        {{filmDetail.year_production}}</a>
                                    {{/if}}
                                </div>
                                {{#checkIf filmDetail.nb_episodes '!==' '' '||' filmDetail.nb_seasons '!==' ''}}
                                <div class="post-meta d-flex" style="margin-left: 20px;">
                                    {{#if filmDetail.nb_episodes}}
                                    <a href="#"> {{filmDetail.nb_episodes}} épisodes
                                        {{#checkIf filmDetail.duration '!==' '' '||' filmDetail.duration '!==' '0'}} (de {{filmDetail.duration}} mn) 
                                        {{/checkIf}}
                                    </a>
                                    {{/if}}
                                    {{#if filmDetail.nb_seasons}}
                                    <a href="#">{{filmDetail.nb_seasons}} saisons</a>
                                    {{/if}}
                                    {{#unless filmDetail.nb_episodes}}
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                        {{formatDuration filmDetail.duration}}</a>
                                    {{/unless}}
                                </div>
                                {{/checkIf}}
                            </div>
                        </div>


                        <!-- Nav menu for film detail -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nave-details-tab" data-toggle="tab"
                                    href="#nave-details" role="tab" aria-controls="nave-details"
                                    aria-selected="true">Détails</a>
                                <a class="nav-item nav-link" id="nav-casting-tab" data-toggle="tab" href="#nav-casting"
                                    role="tab" aria-controls="nav-casting" aria-selected="false">Casting</a>
                                <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review"
                                    role="tab" aria-controls="nav-review" aria-selected="false">Commentaires</a>
                                {{!--      <a class="nav-item nav-link" id="nav-photo-tab" data-toggle="tab" href="#nav-photo"
                                    role="tab" aria-controls="nav-photo" aria-selected="false">Photos</a> --}}
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!--Détail Tab -->
                            <div class="tab-pane fade show active" id="nave-details" role="tabpanel"
                                aria-labelledby="nave-details-tab">
                                <p>{{filmDetail.synopsis}}</p>
                            </div>
                            <!--Casting Tab -->
                            <div class="tab-pane fade" id="nav-casting" role="tabpanel"
                                aria-labelledby="nav-casting-tab">
                                <!-- Actor -->
                                {{#checklengthGreater filmDetail.actor 0}}
                                <div <div class="row">
                                    {{#each filmDetail.actor}}
                                    {{#if name}}
                                    <!-- Single Blog Post -->
                                    <div class="col-6 col-md-4" style="margin-bottom: 50px; margin-top: 20px;">
                                        <div class="single-post-area mb-50">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                {{#if_eq images_large_path equals="0"}}
                                                <img alt="Missing Image"
                                                    onerror="this.src='http://thymovie.com/image/noimage.png';"
                                                    src="http://thymovie.com/image/actor/{{idcine}}/large/{{images_large_path}}">
                                                {{else}}
                                                <img alt="Missing Image"
                                                    onerror="this.src='http://thymovie.com/image/noimage.png';"
                                                    src="http://thymovie.com/image/actor/{{idcine}}/med/{{images_path}}">
                                                {{/if_eq}}
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title"> {{name}}</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-film" aria-hidden="true"></i>
                                                    {{label}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </div>
                                {{/checklengthGreater}}
                            </div>
                            <!--Photo Tab -->
                            {{!-- <div class="tab-pane fade" id="nav-photo" role="tabpanel" aria-labelledby="nav-photo-tab">
                                ... photo
                            </div> --}}
                            <!--Reviews Tab -->
                            <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                                {{#if filmDetail.film_reviews}}
                                <!-- Comment Area Start -->
                                <div class="comment_area clearfix mb-50">

                                    <!-- Section Title -->
                                    <div class="section-heading style-2">
                                        <h4>Commentaires</h4>
                                        <div class="line"></div>
                                    </div>

                                    <ul id="review-list">

                                        {{#each  filmDetail.film_reviews}}
                                        <!-- Single Comment Area -->
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="http://thymovie.com/image/spectators/{{avatar}}"
                                                        alt="Missing Image"
                                                        onerror="this.src='http://thymovie.com/image/nouser.png';">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#"
                                                        class="comment-date">{{formatDate updated_at 'long'}}</a>
                                                    <h6>{{name}}</h6>
                                                    <p>{{comments}}</p>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="like">like</a>
                                                        <a href="#" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{else}}
                                <ul id="review-list">

                                </ul>
                                {{/if}}
                                {{#if spectator}}
                                <!-- Post A Comment Area -->
                                <div class="post-a-comment-area">

                                    <!-- Section Title -->
                                    <div class="section-heading style-2">
                                        <h4>Poster mon commentaire</h4>
                                        <div class="line"></div>
                                    </div>

                                    <!-- Reply Form -->
                                    <div class="contact-form-area">
                                        <form id="form_postReview">
                                            <div class="row">
                                                <div class="col-12">
                                                    <textarea name="message" maxlength="2000" required
                                                        class="form-control" id="review-message"
                                                        placeholder="Commentaires*"></textarea>
                                                    <input id="review-idFilm" type="hidden" value="{{filmDetail.id}}">
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn vizew-btn mt-30" type="submit">Poster</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Single Blog Post -->
                        <div class="single-post-area mb-30">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                {{#if_eq filmDetail.images_large_path equals="0"}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/med/{{@root.folderImg}}/{{filmDetail.idcine}}/{{filmDetail.images_path}}">
                                {{else}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/large/{{@root.folderImg}}/{{filmDetail.idcine}}/{{filmDetail.images_large_path}}">
                                {{/if_eq}}
                            </div>
                            <div class="post-content">
                                {{#if filmDetail.director}}
                                <!-- Section Heading -->
                                <div class="section-heading style-2 mb-30">
                                    <h4>Réalisateur(s)</h4>
                                    <div class="line"></div>
                                </div>
                                <div class="single-post-area mb-30">
                                    <div class="post-content">
                                        <div class="post-meta d-flex flex-wrap">
                                            {{#each filmDetail.director}}
                                            {{#if name}}
                                            <a href="#" class="btn btn-outline-secondary mb-1">{{name}}</a>
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if spectator}}
                                {{#if labelWishlist}}
                                <button class="btn btn-warning btn-sm" type="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Ce film est dans {{labelWishlist}}
                                </button>
                                {{else}}
                                <div id="div_AddToWistList" class="btn-group">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Ajouter à ma liste
                                    </button>
                                    <div class="dropdown-menu">
                                        {{#each spectator.wishlists}}
                                        <a href="#" onclick="addToMyList(event,{{id}},{{@root.filmDetail.id}})"
                                            class="dropdown-item">{{label}}</a>
                                        {{/each}}
                                    </div>
                                </div>
                                {{/if}}

                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
    </div>
</section>

<!-- Images Galery -->
{{#if filmDetail.film_images_large}}
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Galerie de photos</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides -->
                <div class="row featured-post--tree-slides owl-carousel mb-30">
                    {{#each filmDetail.film_images_large}}
                    <!-- Single Blog Post -->
                    <div class="single-post-area mb-80 col-12">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                data-image="http://thymovie.com/image/large/{{@root.folderImg}}/{{@root.filmDetail.idcine}}/{{images_path}}"
                                data-target="#image-gallery">
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    height="208" alt="Missing Image"
                                    onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/large/{{@root.folderImg}}/{{@root.filmDetail.idcine}}/{{images_path}}"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
{{else}}
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Galerie de photos</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides -->
                <div class="row featured-post--tree-slides owl-carousel mb-30">
                    {{#each filmDetail.film_images}}
                    <!-- Single Blog Post -->
                    <div class="single-post-area mb-80 col-12">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                data-image="http://thymovie.com/image/med/{{@root.folderImg}}/{{@root.filmDetail.idcine}}/{{images_path}}"
                                data-target="#image-gallery">
                                <img height="208" alt="Missing Image"
                                    onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/med/{{@root.folderImg}}/{{@root.filmDetail.idcine}}/{{images_path}}"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
{{/if}}


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-height: 80% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                    id="image-gallery-image" class="img-fluid" src="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                        class="fa fa-arrow-left"></i>
                </button>

                <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                        class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="addScript">

</div>