<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="event.preventDefault();router.navigateTo('/home')"  href="#" ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{linkName}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Archive List Posts Area Start ##### -->
<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <table id="example" style="width:100%"></table>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <div class="single-widget youtube-channel-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Filtres par genres</h4>
                            <div class="line"></div>
                        </div>
                        <div class="single-post-area mb-30">
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta d-flex flex-wrap">
                                    {{#each sortFilmConf}}
                                    {{#if_eq genre equals="genre"}}
                                    <a onclick="event.preventDefault();router.navigateTo('/films/{{@root.filmType}}/{{genre}}/{{id}}/{{convertUrl name}}')" 
                                              href="#" class="btn btn-outline-secondary mb-1">{{name}} 
                                        <span class="badge badge-light">{{nbfilm}}</span>
                                    </a>
                                    {{/if_eq}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Single Widget ***** -->
                    <div class=" single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Par année de production</h4>
                            <div class="line"></div>
                        </div>
                       <div class="single-post-area mb-30">
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta d-flex flex-wrap">
                                    {{#each sortFilmConf}}
                                    {{#if_eq genre equals="annee"}}
                                    <a onclick="event.preventDefault();router.navigateTo('/films/{{@root.filmType}}/{{genre}}/{{id}}/{{convertUrl name}}')" 
                                           href="#" class="btn btn-outline-secondary mb-1">{{name}} 
                                        <span class="badge badge-dark">{{nbfilm}}</span>
                                    </a>
                                    {{/if_eq}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>