<!-- ##### Hero Area Start ##### -->
<section class="hero--area section-padding-40-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading style-2">
                    <h4>Au cinéma</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides row featured-post--five-slides owl-carousel -->
                <div class="featured-post--tree-slides owl-carousel mb-30">
                    <!-- Single Feature Post -->
                    {{#each menuAtCinema}}

                    {{#if_eq images_large_path equals="0"}}
                    <div class="single-feature-post video-post bg-img"
                        style="background-image: url(http://thymovie.com/image/med/thymovies-img/{{idcine}}/{{images_path}});">
                        {{else}}
                        <div class="single-feature-post video-post bg-img"
                            style="background-image: url(http://thymovie.com/image/large/thymovies-img/{{idcine}}/{{images_large_path}});">
                            {{/if_eq}}
                            <!-- Post Content -->
                            <div class="post-content">
                                <a onclick="event.preventDefault();router.navigateTo('/films/{{id}}/{{convertUrl title}}')"
                                    href="#" class="post-title">{{title}}</a>
                            </div>
                            <!-- Video Duration -->
                            <span class="video-duration" aria-hidden="true">{{formatDuration duration}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
</section>

<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Avant première</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides -->
                <div class="featured-post--five-slides owl-carousel mb-30">
                    {{#each menuPreview}}
                    <!-- Single Blog Post -->
                    <div class="single-post-area mb-80 col-12">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            {{#if_eq images_large_path equals="0"}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';"
                                src="http://thymovie.com/image/med/thymovies-img/{{idcine}}/{{images_path}}" alt="">
                            {{else}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';"
                                src="http://thymovie.com/image/large/thymovies-img/{{idcine}}/{{images_large_path}}"
                                alt="">
                            {{/if_eq}}
                            <!-- Video Duration -->
                            <span class="video-duration">{{formatDuration duration}}</span>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="post-cata cata-sm cata-success d-none d-sm-block">{{film_type_name}}</a>
                            <a onclick="event.preventDefault();router.navigateTo('/films/{{id}}/{{convertUrl title}}')"
                                href="#" class="post-title">{{title}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Meilleurs films de tous les temps</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides -->
                <div class="featured-post--five-slides owl-carousel mb-30">
                    {{#each menuBest}}
                    <!-- Single Blog Post -->
                    <div class="single-post-area mb-80 col-12">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            {{#if_eq images_large_path equals="0"}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';"
                                src="http://thymovie.com/image/med/thymovies-img/{{idcine}}/{{images_path}}" alt="">
                            {{else}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';"
                                src="http://thymovie.com/image/large/thymovies-img/{{idcine}}/{{images_large_path}}"
                                alt="">
                            {{/if_eq}}
                            <!-- Video Duration -->
                            <span class="video-duration">{{formatDuration duration}}</span>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="post-cata cata-sm cata-success">{{film_type_name}}</a>
                            <a onclick="event.preventDefault();router.navigateTo('/films/{{id}}/{{convertUrl title}}')"
                                href="#" class="post-title">{{title}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### Trending Posts Area End ##### -->

<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Meilleures séries de tous les temps</h4>
                    <div class="line"></div>
                </div>
                <!-- Featured Post Slides -->
                <div class="featured-post--five-slides owl-carousel mb-30">
                    {{#each menuBestSerie}}
                    <!-- Single Blog Post -->
                    <div class="single-post-area mb-80 col-12">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            {{#if_eq images_large_path equals="0"}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';" height="208"
                                src="http://thymovie.com/image/med/thymovies-serie-img/{{idcine}}/{{images_path}}"
                                alt="">
                            {{else}}
                            <img alt="Missing Image" onerror="this.src='/image/noimage.png';" height="208"
                                src="http://thymovie.com/image/large/thymovies-serie-img/{{idcine}}/{{images_large_path}}"
                                alt="">
                            {{/if_eq}}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a onclick="event.preventDefault();" href="#"
                                class="post-cata cata-sm cata-success">{{film_type_name}}</a>
                            <a onclick="event.preventDefault();router.navigateTo('/films/{{id}}/{{convertUrl title}}')"
                                href="#" class="post-title">{{title}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### Trending Posts Area End ##### -->

<div id="addScript">

</div>