<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="event.preventDefault();"  href="/home"><i
                                    class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Accès membre</h4>
                        <div class="line"></div>
                    </div>

                    <form id="form_login" action="index.html" method="post">
                        <div class="form-group">
                            <input type="email" autocomplete="off" maxlength="255" required class="form-control" id="login-email"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" maxlength="32" required class="form-control"
                                id="login-password" placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="login-remember">
                                <label class="custom-control-label" for="login-remember">Rester
                                    connecté</label>
                            </div>
                        </div>
                        <button type="submit" value="login-conn" class="btn vizew-btn w-100 mt-30">Connecter</button>
                        <hr>
                        <button type="submit" value="login-create" class="btn btn-primary w-100 mt-30">S'inscrire</button>
                    </form>
                </div>
                <hr>
                <div id="result-login"></div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->
<div id="addScript">

</div>