<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="event.preventDefault();router.navigateTo('/home')"
                                href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profil</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Archive Grid Posts Area Start ##### -->
<div class="vizew-grid-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8" id="div_Wishlist">
                <!-- Archive Catagory & View Options -->
                {{#if spectator.wishlists}}
                {{#each spectator.wishlists}}
                <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between"
                    id="div_Wishlist_{{id}}">
                    <!-- Catagory -->
                    <div class="archive-catagory">
                        <h4><i class="fa fa-trophy" aria-hidden="true"></i> {{label}}</h4>
                    </div>
                    <div class="view-options">
                        <a href="#" data-href="{{label}}" data-toggle="modal" data-target="#confirm-delete"
                            data-onclick="{{id}}" class="pull-right"><i class="fa fa-trash-o"
                                aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="row" id="div_Wishlist_line_{{id}}">
                    {{#each wistlist_lines}}
                    <!-- Single Blog Post -->
                    <div id="div_Wl_Film_{{wishlist_line_id}}" class="col-6 col-md-3">
                        <div class="single-post-area mb-50">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">

                                {{#if_eq images_large_path equals="0"}}

                                {{#if_eq film_type_id equals="12"}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/med/thymovies-serie-img/{{idcine}}/{{images_path}}">
                                {{else}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/med/thymovies-img/{{idcine}}/{{images_path}}">
                                {{/if_eq}}

                                {{else}}
                                {{#if_eq film_type_id equals="12"}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/large/thymovies-serie-img/{{idcine}}/{{images_large_path}}">
                                {{else}}
                                <img alt="Missing Image" onerror="this.src='http://thymovie.com/image/noimage.png';"
                                    src="http://thymovie.com/image/large/thymovies-img/{{idcine}}/{{images_large_path}}">
                                {{/if_eq}}
                                {{/if_eq}}
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">

                                <a href="#" class="post-cata cata-sm cata-success">{{film_type_name}}</a>
                                <a href="#" onclick="removeFilmFromWl(event,{{wishlist_line_id}})" class="pull-right"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></a>

                                <a onclick="event.preventDefault();router.navigateTo('/films/{{id}}/{{convertUrl title}}')"
                                    href="#" class="post-title">{{title}}</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                {{/each}}
                {{else}}
                <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">
                    <h4>Vous pourriez commencer par ajouter une collection</h4>
                </div>
                {{/if}}
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget followers-widget mb-50">
                        <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span
                                class="counter">198</span><span>Fan</span></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span
                                class="counter">220</span><span>Followers</span></a>
                        <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span
                                class="counter">140</span><span>Subscribe</span></a>
                    </div>
                    <div class="single-widget newsletter-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Nouvelle collection</h4>
                            <div class="line"></div>
                        </div>
                        <p>Créer une nouvelle liste de collection des films</p>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form">
                            <form id="form_newWl" action="index.html" method="post">
                                <input type="text" name="newWl_label" class="form-control mb-15" id="newWl_label"
                                    placeholder="Le nom de la collection">
                                <button type="submit" class="btn vizew-btn w-100">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Archive Grid Posts Area End ##### -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Êtes-vous sûr de supprimer ?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="debug-url"></p>
                <p>L'action est irréversible. Voulez-vous continuer ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="#" class="btn btn-danger btn-ok" id="btn_rmWl">Supprimer</a>
            </div>
        </div>
    </div>
</div>